################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Mocz Parser/v15
/Mocz Parser/bin/Debug
/Mocz Parser/obj/Debug
